/* Všeobecné */
*{
	margin:0;
	padding: 0;
} 
.left {
	float: left;
}
.clr {
	clear: both;
}
body {
	background: linear-gradient(#F0F0F0, #C2C2C2);
	/* background: url('../images/pozadi.png') no-repeat top center #fff; */
	font-size: 14px;
	font-family:  lucida, tahoma, arial, sans-serif;
	text-align: justify;
}
.box {
	margin: 0 auto;
	width: 960px;
	background: url('../images/pozadi_bile.png') repeat;
}

.obrazek { 
	  -webkit-box-shadow:1px 1px 5px #000;
	  -moz-box-shadow:1px 1px 5px #000;
	  -o-box-shadow:1px 1px 5px #000;
	  box-shadow:1px 1px 5px #000;
	  border-radius: 5px;
}

/* Hlavička */
.main {
	margin: 0 auto;
	width: 890px;
}
.main-header {
	width: 890px;
	height: 240px;
}
.main-header--obr {
	display: block;
	width: 890px;
	height: 240px;
	background: url('../images/hlavicka.png') no-repeat;
}
.main-header--logo {
position: absolute;
width: 300px;
height: 115px;
background: url('../images/logo.png') 10px 15px no-repeat;
}


/* Menu */

.main-nav {
	width: 890px;
	height: 40px;
	background-color: #FA6C0D;
	border-bottom: solid 7px #575757;
	position: relative;
	z-index: 1;
}

.main-nav--menu {
	list-style-type: none; 
	display:block; 
}
	
.menu ul {
	margin-top: 0px; 
	position: absolute; 
	visibility: hidden; 
	background-color: #A72135; 
	margin: 0; 
	padding: 0; 
	list-style-type: none;
}
.menu li {
	float: left; 
	width: 148px; 
	white-space: nowrap;
}
.menu a {
	padding: 11px; 
	text-align: center; 
	color: #fff; 
	background-color: #FA6C0D; 
	display: block; 
	text-decoration: none; 
	font-weight: bold; 
	text-transform: uppercase; 
	font-size: 16px;
}
.menu a:hover {
	color: white; 
	background-color: #575757;
	margin-right: -2px;
}
.menu ul a:link {
	color: #fff; 
	border-bottom: none;
}
.menu ul a:visited {
	color: #fff; 
	border-bottom: none;
}
.menu ul a:hover {
	color: white; 
	background-color: #575757;
	
	/*font-size: 16px;
	text-transform: none;*/ zmenší písmo v submenu po najetí
}
.menu li:hover ul, ul.menu li.hover ul { 
	visibility: visible;
}
.menu li li {
	float: none; border: none; padding: 0; margin: 0;
}

/* Textové pole */
.main-section {
	margin: 0 auto;
	width: 890px;
	position: relative;
}

/* Levý sloupec */
.main-section--levy {
	float:left;
	padding: 15px 0px 20px 10px;
}

/* Pravý sloupec */
.main-section--pravy {
	margin:20px 25px 0px 0px;
	margin-left: auto;
	width: 615px;
}


/* Blok akce*/

.levysloupec{
	float:left;
}

.blokakce{ 
	display:block;
	width:205px;
		
}
.bloknadpis{
	padding: 8px; 
	text-align: left; 
	padding-left: 40px; 
	color: white; 
	background-color: #575757; 
	display: block; 
	text-decoration: none; 
	font-weight: bold; 
	text-transform: uppercase; 
	font-size: 16px;
	border-left: 5px solid #FA6C0D;
	}

.bloktext {
	margin-top: 10px;
	margin-left: 25px;
	list-style-type: square;
	font-size: 13px;	
}

.bloktext2 {
	margin-top: 10px;
	margin-left: 10px;
	list-style-type: square;
	font-size: 13px;	
}


/* Blok napište*/
.bloknapiste{
	width:200px;	
	margin-top: 50px;	
}

/* Blok stahování*/
.blokstahovani{
	width:200px;	
	margin-top: 50px;	
}

/* O nás*/
.nadpis {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
}
.odstavec{
	margin-top: 15px;
}

/* Servis */
.odrazky { 	
	margin-left: 25px;
	list-style-type: square;	
}

.odkaz {
	color:#FA6C0D;
}


/* Půjčovna */

.tabnadpis{
	background: rgba(199, 198, 198, 0.5);
	color: #000;
	font-size: 13px;
	font-weight: bold;
}

.tableft{
	text-align: left;
	width:25%;
}

.tabright{
	text-align: right;
	width: 23%;	
}

.tabcenter{
	text-align: center;
	width: 10%;	
}

.tabulka {
	width: 580px;
	/*border-right: 1px solid #575757;*/
	border-collapse: collapse;
	margin: 0 auto;
	-webkit-box-shadow:1px 1px 5px #000;
	  -moz-box-shadow:1px 1px 5px #000;
	  -o-box-shadow:1px 1px 5px #000;
	  box-shadow:1px 1px 5px #000;
	border-radius: 3px;  
}

.tabulka thead th, .tabulka thead td {
	color: white;
	background-color: #FA6C0D;
	border-bottom: 1px solid #575757;
	font-weight: bold;
	padding: 7px 15px 7px 15px;
	text-transform: uppercase;
	border-radius: 3px 3px 0px 0px;
}

.tabulka tbody td {
	padding: 3px 10px 3px 10px;
	border-top: 1px solid #575757; 
	border-bottom: 1px solid #575757;
	border-left: 1px solid #575757;
}

.tabulka tfoot td {
	color: white;
	background-color: #575757;
	border-bottom: 1px solid #575757;
	font-weight: bold;
	padding: 7px 15px 7px 15px;
}
.popis{
	text-align: center;
	font-size: 14px;
}

/* Bazar */

.bazar {
	position: relative;
	float: right;
	left: 20px;
}

.polozka {
	/*border:solid 2px #575757;*/
	position: relative;
	width: 260px;
	height: 360px;
	float: left;
	margin: 15px;
	-webkit-box-shadow:1px 1px 5px #000;
	  -moz-box-shadow:1px 1px 5px #000;
	  -o-box-shadow:1px 1px 5px #000;
	  box-shadow:0px 0px 5px #000;
	border-radius: 5px;  
}

.polozka-nazev {
	color: black;
	font-size: 18px;
	float: left;
	background-color: #FA6C0D;
	width: 260px;
	height: 36px;
	text-align: center;
	padding-top: 15px;
	margin-bottom: 15px;
	border-radius: 5px 5px 0px 0px;
}

.polozka-obrazek{
width: 210px;
height: 155px;
border: solid 1px #D1D1D1;
}

.polozka-popis{
	margin: 5px 0px 0px 43px;
	font-weight: bold;
	list-style-type: square;
	font-size: 13px;
}

/* Více informací*/

.vice {
	margin: 10px 0px 0px -10px;
}

.vice a:link {
font-family: Verdana;
text-decoration: none;
font-weight:bold;
}

.vice a {
    margin: 10px 0px 0px 75px;
    color: #ffffff;
    background: #FA6C0D left top repeat-x;
    padding: 10px 10px;
    font-size: 12px;
    line-height: 12px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-weight: bolder;
}

.vice a:hover {
    color: #FFF;
	background: #575757 
}  

/* Footer */
.footer{
	width: 890px;
	background: #575757;
	margin:0 auto;
	padding: 1px;
}

.paticka{
	text-align: center;
	color:#ffffff;
	margin: 10px;
	font-size: 17px;
	font-weight: bold;
}

/* Sortiment */
.logo-obrazek{
width: 250px;
height: 155px;
}

.logo{
	margin: 20px -20px 30px 20px;
}
.blok_katalog{
	position: relative;
	padding: 10px;

}
.spolecnost{
	padding: 8px; 
	padding-left: 75px; 
	color: white; 
	background-color: #575757; 
	text-decoration: none; 
	font-weight: bold; 
	text-transform: uppercase; 
	font-size: 16px;
	width: 122px;
}

#katalog {
	background-color: #FA6C0D; 
	padding: 0; margin: 0; 
	list-style-type: none; 
	display:block;
	width:200px;
}

#katalog, ul {
	padding:0; 
	list-style-type:none;
}

#katalog ul {
	position:absolute; 
	top:0; 
	left:200px; 
	visibility:hidden; 
	background-color:white;
}

#katalog li { 
	position:relative;
	width:200px;
	border-top: 1px solid white;
	border-left: 5px solid #575757;
}
#katalog a {
	padding: 8px; 
	text-align: left; 
	padding-left: 20px; 
	color: #000; 
	background-color: #FA6C0D; 
	display: block; 
	text-decoration: none; 
	font-weight: bold;  
	font-size: 14px;
	/*border-left: 5px solid #FA6C0D;*/
}
#katalog a:hover, #katalog li:hover a, #katalog li.hover a { 
	background-color: #575757; 
	color:white; 
}
#katalog li:hover ul a, #katalog li.hover ul a {  /* druhá úroveň rozbalovacího menu*/
	background-color:#FA6C0D; 
	color: #000; 
	width: 200px;  
	padding: 10px; 
	text-align: left; 
	padding-left: 15px; 
	font-family: arial; 
	font-size: 14px;
	text-transform: none;
	} 

#katalog li:hover ul a:hover, #katalog li.hover ul a:hover { 
	background-color:#575757; 
	color:white; 
}

#katalog li:hover ul, #katalog li.hover ul { 
	visibility:visible; 
}
#katalog li li { 
	border:none; 
	padding:0; 
	background-color:rgb(233,131,21); 
}

#katalog ul ul { /* třetí úroveň rozbalovacího menu*/
	position:absolute; 
	top:0; 
	left:178px; 
	visibility:hidden; 
	background-color:white;
}

/* Slideshow*/

#container { 
	position: relative; 
	top:25px;
	left: 15px;
	width:100%;
	height:100%;
	margin-bottom: 40px;
	z-index: 1;
}

#rotator_wrapper {
	position: relative; 
	left:0;
	top:0;
	width:580px;
	height:350px;
	list-style-type: none;
	z-index: -1;
	overflow: hidden;
	border:8px solid #fff;
	  -webkit-box-shadow:1px 1px 5px #000;
	  -moz-box-shadow:1px 1px 5px #000;
	  -o-box-shadow:1px 1px 5px #000;
	  box-shadow:1px 1px 5px #000;
	 border-radius: 5px;
}

#rotator{
	position: relative;
	width:100%;
	height:100%;
	list-style-type: none;
}

#rotator > li{ 

	position: absolute;
	top: 0;
	left: 0;
}

#rotator li img { 
	width:680px;
}

#rotator a {
	display: block;
	width: 30px;
	height: 20px;
	background: black;
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	float: left;
	padding: 5px;
	margin-top:30px;
}

#rotator_controls {
	list-style-type: none;	
}

.produkt{
	margin: 10px 0px 10px 45px;
}

.produkt td{
text-align: left;
padding: 0px 10px 0px 10px;
font-size: 12px;

}
.oranzova{
	background: rgba(250, 108, 13, 0.83);
	color:#000;	
}

.seda{
	background: rgba(199, 198, 198, 0.5);
	color:#000;
}

/* Produkty STIHL */

.nadpis-tabulka {
	font-size:14px; 
	text-align: justify; 
	text-transform: none; 
	padding-top: 10px;
}
.poznamka{
	font-size:10px; 
	text-align: justify; 
	padding: 10px 15px 10px 15px;
}

/* Kontaktní formulář */

.formular-pole {
	width: 320px;
	height: 25px;
	border: 1px solid #575757;
	margin: 5px 0 0 0;
	padding-left: 5px;
	font-size: 14px;
	color: #575757;
	outline-color: #FA6C0D;
}

.formular-tlacitko {
	width: 150px;
	height: 35px;
	border: 0;
	background: #FA6C0D;
	color: #fff;
	font-size: 18px;
	margin: 5px 0 15px 0;
	outline-color: #FA6C0D;
	border-radius: 3px;
}

.formular-area {
	width: 610px;
	height: 150px;
	border: 1px solid #575757;
	margin: 5px 0 0 0;
	padding-left: 5px;
	font-size: 14px;
	color: #575757;
	outline-color: #FA6C0D;
}